<h1>ModernBlends</h1>
<p>Fresh smoothies right to your doorstep.</p>
<p> Now serving San Francisco </p>
<%= link_to('users/new') do %>
<div id="register">
Register 
</div>
<% end %>

<%= link_to('home/login') do %>
<div id="login">
Login
</div>
<% end %>
